body {
    font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../board/static/img/_15bda260-cb5e-11ea-9e0e-a2b2269.png') center/cover no-repeat;
    height: 100vh;
}

/* Idea Cards */
.idea-card {
    border: none;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.idea-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    width: 100%;
}
